In [1]:
2 + 2

4

## Boldly Type Python

a little less **boldly** now ...

- and 
- some
- bullet
- points

# y


e

In [7]:
name = 'bob'

In [4]:
name

'bob'

In [8]:
name

'bob'

In [9]:
pets = ['cat', 'fish', 'dog']

In [10]:
pets.add('bird')

AttributeError: 'list' object has no attribute 'add'

In [11]:
pets.push('bird')

AttributeError: 'list' object has no attribute 'push'

In [12]:
"bird".add(pets)

AttributeError: 'str' object has no attribute 'add'

In [13]:
pets.append('bird')

In [14]:
pets

['cat', 'fish', 'dog', 'bird']

In [15]:
pets.insert(2, 'snake')

In [16]:
pets

['cat', 'fish', 'snake', 'dog', 'bird']

In [17]:
friends = ['bob', 'sue', 'larry', 'mary']

In [18]:
pets.extend(friends)

In [19]:
pets

['cat', 'fish', 'snake', 'dog', 'bird', 'bob', 'sue', 'larry', 'mary']

In [20]:
pets.insert(2, friends)

In [21]:
pets

['cat',
 'fish',
 ['bob', 'sue', 'larry', 'mary'],
 'snake',
 'dog',
 'bird',
 'bob',
 'sue',
 'larry',
 'mary']

In [22]:
pairings = {pets[0], friends[0]}

In [23]:
pairings

{'bob', 'cat'}

In [24]:
groupings = (pets[0], friends[0])

In [25]:
groupings

('cat', 'bob')

In [26]:
pets[-1]

'mary'

In [28]:
pets.insert(groupings[0][1])

TypeError: insert() takes exactly 2 arguments (1 given)

In [29]:
pets

['cat',
 'fish',
 ['bob', 'sue', 'larry', 'mary'],
 'snake',
 'dog',
 'bird',
 'bob',
 'sue',
 'larry',
 'mary']

In [31]:
pets.extend(groupings)

In [32]:
pets

['cat',
 'fish',
 ['bob', 'sue', 'larry', 'mary'],
 'snake',
 'dog',
 'bird',
 'bob',
 'sue',
 'larry',
 'mary',
 'cat',
 'bob']

In [34]:
pets[0:4]

['cat', 'fish', ['bob', 'sue', 'larry', 'mary'], 'snake']

In [35]:
pets[4:5]

['dog']

In [37]:
pets[3:7]

['snake', 'dog', 'bird', 'bob']

In [39]:
pets[2][2]

'larry'

In [45]:
pets[2:7:2]

[['bob', 'sue', 'larry', 'mary'], 'dog', 'bob']

In [46]:
nums = [1,2,3,4,5,6,7,8]

In [48]:
nums[1:6:3]

[2, 5]

In [49]:
my25 = nums[1:6:3]

In [50]:
my25

[2, 5]

In [52]:
my25.append(friends[3])

In [53]:
my25

[2, 5, 'mary']

In [54]:
my25.append(pets[2][1])

In [55]:
my25

[2, 5, 'mary', 'sue']

In [56]:
my25.pop()

'sue'

In [57]:
my25

[2, 5, 'mary']

In [58]:
my25.shift()

AttributeError: 'list' object has no attribute 'shift'

In [60]:
my25[2] = 'susie'

In [61]:
my25

[2, 5, 'susie']

In [62]:
my25.insert(2, 'mary')

In [63]:
my25

[2, 5, 'mary', 'susie']

In [67]:
my25.append("Solta")

In [68]:
my25

[2, 5, 'mary', 'susie', 'Solta', 'Solta', 'Solta']

In [69]:
myset25 = set(my25)

In [70]:
myset25

{2, 5, 'Solta', 'mary', 'susie'}

In [71]:
type(my25)

list

In [72]:
type(myset25)

set

In [73]:
type(groupings)

tuple

In [74]:
type(pairings)

set

In [75]:
myset25[3]

TypeError: 'set' object does not support indexing

In [76]:
myset25list = list(myset25)

In [77]:
myset25list

['susie', 2, 5, 'mary', 'Solta']

In [78]:
myset25

{2, 5, 'Solta', 'mary', 'susie'}

In [79]:
nums = [3,2,2,1,1,3,4,2,3,5,6,3,4]

In [80]:
nums

[3, 2, 2, 1, 1, 3, 4, 2, 3, 5, 6, 3, 4]

In [81]:
type(nums)

list

In [82]:
setNums = set(nums)

In [83]:
setNums

{1, 2, 3, 4, 5, 6}

In [84]:
listSetNums = list(setNums)

In [87]:
moreData = [3,4,6,2,4,6,7,8,9,6,56,4,34,24,134,5,3,2,77]

In [88]:
moreData

[3, 4, 6, 2, 4, 6, 7, 8, 9, 6, 56, 4, 34, 24, 134, 5, 3, 2, 77]

In [89]:
setMoreData = set(moreData)

In [90]:
setMoreData

{2, 3, 4, 5, 6, 7, 8, 9, 24, 34, 56, 77, 134}

In [91]:
listSetMoreData = list(setMoreData)

In [92]:
listSetMoreData

[2, 3, 4, 34, 6, 7, 8, 9, 134, 5, 77, 56, 24]

In [93]:
nums.append(listSetMoreData)

In [94]:
nums

[3,
 2,
 2,
 1,
 1,
 3,
 4,
 2,
 3,
 5,
 6,
 3,
 4,
 [2, 3, 4, 34, 6, 7, 8, 9, 134, 5, 77, 56, 24]]

In [95]:
length(nums)

NameError: name 'length' is not defined

In [99]:
len(nums)

14

In [100]:
nums.insert(13, 'asdf')

In [101]:
nums

[3,
 2,
 2,
 1,
 1,
 3,
 4,
 2,
 3,
 5,
 6,
 3,
 4,
 'asdf',
 [2, 3, 4, 34, 6, 7, 8, 9, 134, 5, 77, 56, 24]]

In [102]:
nums.insert(14[3], 'bob')

TypeError: 'int' object is not subscriptable

In [103]:
nums[13]

'asdf'

In [107]:
nums[14].insert(7, myset25)

In [108]:
nums

[3,
 2,
 2,
 1,
 1,
 3,
 4,
 2,
 3,
 5,
 6,
 3,
 4,
 'asdf',
 [2,
  3,
  4,
  34,
  'frank',
  6,
  7,
  {2, 5, 'Solta', 'mary', 'susie'},
  {2, 5, 'Solta', 'mary', 'susie'},
  8,
  9,
  134,
  5,
  77,
  56,
  24]]